#if (!$entries.isEmpty())

    #set($portletDisplay= $themeDisplay.getPortletDisplay())

<div class="news_box samples disable-user-actions">
    <div class="section" style="position: relative;">
        <div class="bar_btns">
            <a class="kai-btn-block" targer="_blank" href="/c/portal/new.rss?lang=${locale}" style="height: 25px; line-height: 20px; min-width: 50px; font-size: 14px;">
                RSS
            </a>
        </div>
        #if($locale == 'ru_RU')
            <h1>НОВОСТИ</h1>
        #else
            <h1>NEWS</h1>
        #end


        <div class="box_items jf">

            #set($currIndex = 0)

            #foreach ($entry in $entries)

                #set($currIndex = $currIndex + 1)

                #if ($currIndex < 5)

                    #set($renderer = $entry.getAssetRenderer() )
                    #set($className = $renderer.getClassName() )

                    #if( $className == "com.liferay.portlet.journal.model.JournalArticle" )

                        #set( $journalArticle = $renderer.getArticle() )
                        #set( $document = $saxReaderUtil.read($journalArticle.getContent()) )
                        #set( $rootElement = $document.getRootElement() )

                        #set($url = $url.replace('/main', ''))

                        #if(!$url.endsWith('/'))
                            #set($url = $url + '/')
                        #end

                        #set( $link = "/news/new?id=" + $entry.getClassPK())

                        #set( $title = $document.selectSingleNode("/root/dynamic-element[@name='title']/dynamic-content[@language-id='$locale']").getText() )
                        #set( $date = $journalArticle.getExpandoBridge().getAttribute("date"))

                        #if(!$document.selectSingleNode("/root/dynamic-element[@name='description']/dynamic-content[@language-id='$locale']").getText())
                            #set( $description = $document.selectSingleNode("/root/dynamic-element[@name='description']/dynamic-content[@language-id='ru_RU']").getText())
                        #else
                            #set( $description = $document.selectSingleNode("/root/dynamic-element[@name='description']/dynamic-content[@language-id='$locale']").getText())
                        #end

                        #if(!$document.selectSingleNode("/root/dynamic-element[@name='preview']/dynamic-content[@language-id='$locale']").getText())
                            #set( $image = $document.selectSingleNode("/root/dynamic-element[@name='preview']/dynamic-content[@language-id='ru_RU']").getText() )
                        #else
                            #set( $image = $document.selectSingleNode("/root/dynamic-element[@name='preview']/dynamic-content[@language-id='$locale']").getText() )
                        #end

                        #set($title = $entry.getTitle($locale, true))


                        <div class="item" onclick="document.location = '${link}';" href="${link}">
                            <div class="pic">
                                #if(!$image.contains('data') && !$image.contains('alt'))
                                    <img src=$image />
                                #end
                            </div>
                            <div class="desc">
                                <p class="t1">
                                    #if($title.length() > 70)
                                        #set($title = $title.substring(0,70))
                                        #set($title = $title.substring(0,$title.lastIndexOf(' ')) + '...')
                                    #end
                    $title
                                </p>

                                <span class="date">$dateUtil.getDate($date, "dd.MM.yyyy", $locale)</span>

                                <p class="text">
                                    #if($description.length() > 130)
                                        #set($description = $description.substring(0,130))
                                        #set($description = $description.substring(0,$description.lastIndexOf(' ')) + '...')
                                    #end
                    $description
                                </p>
                                <div class="links cf">
                                    #if($locale == 'ru_RU')
                                        <a class="fr" href="${link}">Подробнее</a>
                                    #else
                                        <a class="fr" href="${link}">Details</a>
                                    #end
                                </div>
                            </div>

                        </div>

                    #end
                #end
            #end


        </div>
        <div class="text-center">
            <a href="/news" class="kai-btn-block"><i class="kai-icon-list"></i>
                #if($locale == 'ru_RU')
                    все новости
                #else
                    all news
                #end

            </a>
        </div>
    </div>
</div>

#end