<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>entrantServlet</servlet-name>
        <servlet-class>servlets.EntrantServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>entrantJspServlet</servlet-name>
        <servlet-class>servlets.EntrantJspServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>formativeOrgunitJspServlet</servlet-name>
        <servlet-class>servlets.FormativeOrgunitJspServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>programFormJspServlet</servlet-name>
        <servlet-class>servlets.ProgramFormJspServlet</servlet-class>
    </servlet>

    <servlet>
       <servlet-name>programSubjectJspServlet</servlet-name>
       <servlet-class>servlets.ProgramSubjectJspServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>competitionTypeJspServlet</servlet-name>
        <servlet-class>servlets.CompetitionTypeJspServlet</servlet-class>
    </servlet>



    <servlet>
        <servlet-name>indexJspServlet</servlet-name>
        <servlet-class>servlets.IndexJspServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>entrantServlet</servlet-name>
        <url-pattern>/entrant</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>entrantJspServlet</servlet-name>
        <url-pattern>/entrant_as_jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>formativeOrgunitJspServlet</servlet-name>
        <url-pattern>/formative_orgunit_as_jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>programFormJspServlet</servlet-name>
        <url-pattern>/program_form_as_jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>programSubjectJspServlet</servlet-name>
        <url-pattern>/program_subject_as_jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>competitionTypeJspServlet</servlet-name>
        <url-pattern>/competition_type_as_jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>indexJspServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>ContextListener</listener-class>
    </listener>

    <!--<taglib>
        <taglib-uri>/struts-tiles</taglib-uri>
        <taglib-location>/WEB-INF/tags/struts-tiles.tld</taglib-location>
    </taglib>-->
</web-app>